.front-Ment {
  position: relative;
  overflow: hidden;
  .fm-ul-container {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    touch-action: pan-x;
    scrollbar-width: none;
    gap: 20px;

    .fm-items {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      text-align: center;
      padding: 10px;
      gap: 20px;
      border-radius: 10px;
      transition: all 0.8s ease-in-out;
      .fm-title {
        font-size: 1.2rem;
        letter-spacing: 0.05em;
        color: $green-200;
      }
      .img-fm {
        width: 180px;
        height: 180px;
        border-radius: 15px;
        object-fit: cover;
        object-position: top;
        transition: all 0.8s ease-in-out;
      }
    }
  }
  .point-fm-container {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .point-fm {
      width: 10px;
      height: 10px;
      background: $green-100;
      border-radius: 100%;
    }
  }
}
