.body-project-hetic {
  position: relative;
  background: $black-300;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 0;
  .null-span {
    z-index: 1;
    position: absolute;
    content: "";
    top: 15%;
    left: -50%;
    width: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: rotate(-35deg);
    span {
      display: block;
      width: 100%;
      height: 4px;
      background: $green-300;
      border-radius: 5px;
      margin-top: 20px;
    }
  }
  .psh-title {
    z-index: 1;
    font-size: 2rem;
    color: $green-100;
    font-family: $font-SpaceGrotesk;
    margin-bottom: 20px;
    .fa-hexagon {
      color: $green-300;
      font-size: 1.8rem;
      animation: rotate 5s linear infinite;
    }
  }
  .psh-items {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    .psh-container-left,
    .psh-container-right {
      margin-top: 20px;
      border-radius: 10px;
      background: $black-200;
      border: 1px solid $black-400;
      transition:
        border-color 0.25s ease,
        box-shadow 0.25s ease;

      &:hover {
        border-color: $green-300;
        box-shadow: 0 0 0 1px $green-300;
      }
    }

    h3 {
      letter-spacing: 0.05em;
      color: $green-100;
      padding-bottom: 5px;
      border-bottom: 3px solid $green-400;
    }
    p {
      font-family: "Inter", sans-serif;
      font-size: 0.9rem;
      font-weight: 400;
      color: $black-700;
      line-height: 1.4;
      letter-spacing: 0.04em;
    }
    .psh-container-left {
      width: 40%;
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
      }
      .project-text-item {
        height: 100%;
        padding: 10px;
        h3 {
          font-size: 1.4rem;
        }
        .project-descrip-container {
          p {
            padding-top: 10px;
          }
        }
        .project-btn {
          display: block;
          margin: 0 20px 0 auto;
          padding: 10px;
          border: none;
          background: none;
          a {
            text-decoration: none;
            color: $beige-100;
            border-radius: 3px;
            transition: all 0.3s ease-in-out;
            &:hover {
              padding: 5px;
              background: $beige-200;
              color: $black-300;
            }
          }
        }
      }
    }
    .psh-container-right {
      width: 60%;
      .task-theme {
        text-align: center;
        font-size: 2rem;
        color: $beige-100;
        font-family: "Space Grotesk", sans-serif;
        padding: 5px;
      }
      .task-container {
        padding: 10px;
        .task-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          font-size: 1.2rem;
          cursor: pointer;
          border-radius: 3px;
          .fa-chevron-down {
            transform: rotate(-45deg);
            transition: all 0.25s ease;
          }
          transition:
            border-color 0.25s ease,
            box-shadow 0.25s ease;

          &:hover {
            border-color: $green-300;
            box-shadow: 0 0 0 1px $green-300;
          }
        }
        .check {
          .fa-chevron-down {
            transform: rotate(0deg);
          }
        }
        .task-unOnclick {
          margin-top: 0px;
          padding: 0px;
          opacity: 0;
          visibility: hidden;
          height: 0;
          transition: all 0.5s ease;
          .points-container,
          .learn-container,
          .challenges-container {
            list-style: none;
            padding: 5px 0px;
            .item-point,
            .item-learn,
            .item-challenge {
              color: $beige-100;
              font-size: 0rem;
              letter-spacing: 0.04em;
              &:first-child {
                display: inline-block;
                font-weight: 800;
                border-bottom: 2px solid $green-400;
                padding-bottom: 5px;
              }
            }
          }
        }
        .task-onclick {
          border-radius: 3px;
          margin-top: 10px;
          padding: 10px;
          opacity: 1;
          visibility: visible;
          height: auto;
          transition: all 0.5s ease;
          .task-desc {
            padding-top: 10px;
          }
          .points-container,
          .learn-container,
          .challenges-container {
            list-style: none;
            padding: 5px 0px;
            .item-point,
            .item-learn,
            .item-challenge {
              color: $black-700;
              font-size: 0.9rem;
              letter-spacing: 0.04em;
              &:first-child {
                display: inline-block;
                font-weight: 800;
                border-bottom: 2px solid $green-400;
                padding-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 834px) {
  .body-project-hetic {
    .psh-items {
      flex-direction: column;
      .psh-container-left,
      .psh-container-right {
        width: 100%;
      }
    }
  }
}
