.modal-start {
  position: absolute;
  visibility: hidden;
  top: 10%;
  left: 25%;
  width: 50%;
  z-index: 5;
  background: rgb(255, 255, 255);
  padding: 30px 40px;
  border: 1px solid hsl(0, 0%, 48%, 0.1);
  border-radius: 7px;
  text-align: left;
  h3 {
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
    }
  }
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  .close:hover {
    transform: scale(1.4) rotate(180deg);
  }
  h3 ~ p {
    font-size: 1rem;
    padding: 10px 0px;
    color: hsl(0, 0%, 48%);
    @media screen and (max-width: 600px) {
      font-size: 0.8rem;
    }
  }
  .modal-container {
    display: grid;
    grid-template-columns: 10% auto 20%;
    grid-template-rows: auto, auto;
    grid-template-areas:
      "input title left"
      "input text text";
    border: 1px solid hsl(0, 0%, 48%, 0.1);
    border-radius: 7px;
    margin: 15px 0px;
    @media screen and (max-width: 600px) {
      grid-template-columns: 25% 1fr;
      grid-template-rows: 1fr auto auto;
      grid-template-areas:
        "input title"
        "text text"
        "left left ";
    }

    input[type="radio"] {
      grid-area: input;
      margin: 25px auto;
      appearance: none;
      height: 15px;
      width: 15px;
      border: 3px solid white;
      border-radius: 50px;
      background: white;
      outline: hsl(0, 0%, 48%, 0.5) solid 1px;
    }
    input[type="radio"]:checked {
      background: var(--Moderatecyan);
    }
    input[type="radio"]:hover {
      outline: hsl(176, 50%, 47%) solid 1px;
    }
    .title {
      grid-area: title;
      display: flex;
      justify-content: start;
      align-items: center;
      @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: start;
      }
      label {
        font-size: 1rem;
        font-weight: 700;
        @media screen and (max-width: 600px) {
          font-size: 1rem;
        }
      }
      label:hover {
        color: hsl(176, 50%, 47%);
      }
      label ~ p {
        color: hsl(176, 50%, 47%);
        font-size: 1rem;
        font-weight: 700;
        margin: 10px 10px;
        @media screen and (max-width: 600px) {
          font-size: 0.8rem;
        }
      }
    }
    .title-modal-container {
      grid-area: text;
      font-size: 0.9rem;
      line-height: 1.8rem;
      padding: 10px;
      color: hsl(0, 0%, 48%);
      @media screen and (max-width: 600px) {
        font-size: 0.8rem;
        line-height: 1.5rem;
      }
    }
    .title-modal {
      grid-area: left;
      font-size: 1.2rem;
      font-weight: 700;
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 20px;
      span {
        color: hsl(0, 0%, 48%);
        font-size: 0.9rem;
        font-weight: 400;
        padding: 0px 10px;
      }
      @media screen and (max-width: 600px) {
        justify-content: start;
      }
    }
  }
  .pledge-number {
    grid-area: pledge;
    position: relative;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    &:before {
      position: absolute;
      content: "";
      height: 1px;
      width: 100%;
      background: hsl(0, 0%, 48%, 0.2);
      left: 0;
      top: 0;
    }
    p {
      font-size: 1rem;
      color: hsl(0, 0%, 48%);
      font-weight: 400;
      padding: 20px;
      @media screen and (max-width: 600px) {
        font-size: 0.8rem;
      }
    }
    .btn-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        border: 1px solid transparent;
        font-weight: 600;
        text-align: center;
        background: hsl(176, 72%, 28%);
        color: white;
        padding: 10px 25px;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
      }
      button:hover {
        box-shadow: 4px -4px 0px 0px hsl(176, 50%, 47%);
        border-radius: 5px;
        border: 1px solid rgb(255, 255, 255, 0.5);
      }
      .input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 10px 10px;
        margin-right: 20px;
        border: 1px solid hsl(0, 0%, 48%, 0.2);
        border-radius: 50px;
        cursor: pointer;
        &:hover {
          border: 1px solid hsl(176, 50%, 47%);
        }
        p {
          color: hsl(0, 0%, 48%);
          font-size: 0.9rem;
          padding: 0px 10px;
        }
        p ~ p {
          font-weight: 700;
          color: hsl(0, 0%, 0%);
          border: none;
          width: 45px;
          outline: none;
        }
      }
    }
  }
  .invalidRate {
    opacity: 0.6;
    input[type="radio"]:disabled {
      background: hsl(0, 0%, 48%, 0.5);
    }
    .btn-container > button {
      background: hsl(0, 0%, 48%, 0.5);
      &:focus {
        background: hsl(0, 0%, 48%, 0.5);
      }
    }
  }

  @media screen and (max-width: 1100px) {
    left: 15%;
    width: 70%;
  }
  @media screen and (max-width: 600px) {
    left: 5%;
    width: 90%;
  }
}

.active.bamboo-container,
.active.black-container,
.active.mahogany-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "input title left"
    "input text text"
    "pledge pledge pledge";
  border: 1px solid hsl(176, 50%, 47%);
  border-radius: 7px;
  &:nth-child(1) {
    background: red;
  }
  .pledge-number {
    display: flex;
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr auto auto auto;
    grid-template-areas:
      "input title"
      "text text"
      "left left"
      "pledge pledge";
  }
}
